.sigma{
    font-weight: bold;
    text-align: center;
    color: white;
}
.skibidi{
    font-family: 'Gill Sans', sans-serif;
    color: greenyellow;
    text-align: center;
}
.mewing{
    background-color: darkslateblue;
}
